* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #2C3333;
    color: #CBE4DE;
}

.titulo-destaque {
    color: #97DEFF
}

.apresentacao {
    display: flex;
    align-items: center;
}